# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.eCommerce.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Gil\Desktop\לימודים\סמסטר ו'\סדנא\git repo\eCommerce\eCommerce\.idea\.idea.eCommerce\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
