.FormMain {
    display: flex;
    margin: 200px 0;
    height: auto;
}

.FormWindow {
    display: flex;
    border: solid 1px #dadce0;
    border-radius: 12px;
    box-shadow: 3px 3px 3px 1px #b0b1b7;
    margin: 0 auto;
    padding: 25px 50px;
    flex-flow: column;
}

.Form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.Form input {
    margin: 10px;
}

.Form h5 {
    margin: 10px;
}

.Form label {
    color: red;
}

.CenterItemContainer {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

h3 {
    color: #4788ef;
}

.cr_red {
    color: red;
}

.cr_blue {
    color: #1b6ec2;
}

.cr_green {
    color: green;
}

.cr_purple {
    color: purple;
}